@import url(../rotation/rotation.css);

.page {
    font-family: 'Inter', 'Arial', sans-serif;
    min-width: 1100px;
    max-width: 1600px;
    display: flex;
    margin: auto;
    flex-direction: column;
}

.section-margin-bottom-xl {
    margin-bottom: 217px;
}

.margin-bottom-l {
    margin-bottom: 217px;
}

.margin-bottom-xm {
    margin-bottom: 160px;
}

.margin-bottom-m {
    margin-bottom: 100px;
}

.margin-bottom-s {
    margin-bottom: 90px;
}

.rotation{
    animation: rotation 20s infinite ease;
}